<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878101248529-rnmjqsnpbnpnsrvjhg0daab1rcec9sc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878101248529-rnmjqsnpbnpnsrvjhg0daab1rcec9sc5</string>
	<key>API_KEY</key>
	<string>AIzaSyAmRJuKV_oxyteTub13-ffp8S7A8WDjaLM</string>
	<key>GCM_SENDER_ID</key>
	<string>878101248529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.cookingapp</string>
	<key>PROJECT_ID</key>
	<string>cooking-app-native</string>
	<key>STORAGE_BUCKET</key>
	<string>cooking-app-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878101248529:ios:18bbc1bb8cab4694470fb0</string>
	<key>DATABASE_URL</key>
	<string>https://cooking-app-native-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>